html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#tap-to-place {
  position: fixed;
  bottom: 20px;
  left: 50%;
  right: 0px;
  border-radius: 15px;

  color: white;
  width: 200px;
  margin-left: -100px;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
  font-family: sans-serif;
  text-transform: uppercase;
}
.btn {
  margin-top: 20px;
  border-radius: 50%;
  background: white;
  color: black;
  width: 80px;
  height: 80px;
  text-align: center;
  padding: 25px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 24px;
  cursor: pointer;
  display: none;
}
.container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background: transparent;
  color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.text-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.left-text,
.right-text {
  flex: 1;
  text-align: center;
  cursor: pointer;
}
.selected-text {
  font-weight: bold;
  color: rgb(255, 0, 179);
}

.snapshot-container {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn:hover {
  background: red;
}
.btn:active {
  background-color: grey;
}

.btn {
  display: inline-block;
  width: 60px; /* Adjust the width to make it larger */
  height: 60px; /* Adjust the height to make it larger */
  border-radius: 50%;
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  text-align: center;
  font-size: 20px;
  line-height: 60px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 3px solid #007bff; /* Add a border */
}

.btn:hover {
  background-color: #0056b3; /* Change color on hover */
}

#image {
  background-image: url("../assets/button-d.png"); /* Replace 'image-icon.png' with your image URL */
  background-size: 100%;
  width: 100px; /* Adjust the width to make it larger */
  height: 100px; /* Adjust the height to make it larger */
}

#video {
  background-image: url("../assets/button-d.png"); /* Replace 'video-icon.png' with your video icon URL */
  background-size: 100%;
}

.gift-box {
  width: 200px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: bounce 2s infinite;
}

.gift-box::before {
  content: ""; /* Add a content placeholder */
  width: 100%;
  height: 100%;
  position: absolute;
}

/* 
.gift-box::before,
.gift-box::after {
  content: "";
  background: #ff4500;
  position: absolute;
}

.gift-box::before {
  width: 100px;
  height: 20px;
  left: 0;
  top: 50px;
}

.gift-box::after {
  width: 20px;
  height: 100px;
  left: 50px;
  top: 0;
} */

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.arrow {
  animation: arrowAnimation 1s infinite; /* Define the animation */
  width: 60px; /* Adjust the arrow width */
  height: 60px; /* Adjust the arrow height */
}

@keyframes arrowAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.instruction {
  display: flex;
  align-items: center;
}

.instruction p {
  margin-left: 10px;
  font-size: 24px;
  font-weight: bold;
  color: white;
}
